.DS_Store
*.Rproj
*.Rproj.user
Assignments/Problem_Sets
Assignments/TA
Assignments/Project/Examples
Lectures/old
prior-iterations/
Readings/ethics_readings/
Readings/ml-readings/
Students/
Supplementary-Resources/
.Rproj.user
*.Rhistory
Lectures/week_04/lecture-week-04_data-wrangling_cache/html/*
*cache*
