.DS_Store
*.Rproj
*.Rproj.user
Assignments/Problem_Sets
Assignments/Project/Examples
Lectures/old
prior-iterations/
Readings/ethics_readings/
Readings/ml-readings/
Students/
Supplementary-Resources/
.Rproj.user
*.Rhistory
